.sec1 {
	background: rgb(255, 225, 230);
}

.sec2 {
	background: #ffc7e8;
}

.sec3 {
	background: #fff;
}

.sec5 {
	background-color: #ffc7e8;
}

.footer {
	background: rgb(255, 225, 230);
	color: #fff;
}