@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img,
video,
iframe {
    vertical-align: middle;
}

body {
    font-family: 'Pretendard';
    font-size: 20px;
    line-height: 25px;
    color: #3a2f2f;
    /* font-family: 'Playfair Display', serif; */
}

/* header */
.header_inner {
    text-align: center;
    position: relative;
    padding-top: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    width: 100%;
}

.header_inner h1 {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.header_menu {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.header_menu>li {
    font-weight: bold;
    transition: all 0.3s;
}

.btn_pag span {
    background-color: #FF92B9;
}

.header_menu>li:hover {
    color: #FF92B9;
    transition: all 0.3s;
    cursor: pointer;
}

.header_menu>li {
    position: relative;
    padding: 5px 3.3%;
}

.header_menu>li:first-child {
    border-radius: 15.5px 0 0 15.5px;
}

.header_menu>li:last-child {
    border-radius: 0 15.5px 15.5px 0;
}

.heart_icon {
    position: absolute;
    top: -15px;
    right: 50%;
    z-index: 20;
    transform: translate(11px, -50%);
    opacity: 0;
    transition: all 0.3s;
}

.header_menu>li:hover>.heart_icon {
    opacity: 1;
    transition: all 0.3s;
}

.header_menu>li {
    position: relative;
}

.sub {
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    background-color: #FF92B9;
    color: #fff;
    width: 100%;
    display: none;
}

.sub li {
    padding: 3px 0;
    font-size: 18px;
    font-weight: normal;
}


.sub li:hover {
    background: linear-gradient(to right, #FFF2CF 0%, #FF92B9 50%, #C5FAFF 100%);
    background-position: right center;
    transition: background-position 0.5s;
    background-size: 200% auto;
    font-weight: 700;
}

.sub li:first-child:hover {
    border-radius: 15.5px 15.5px 0 0;
}

.sub li:last-child:hover {
    border-radius: 0 0 15.5px 15.5px;
}

.header_menu.on>li {
    background-color: #fff;
}

/* header_top */
#header_bg {
    background: #e9f8ff url(../images/sub_menu/sub2_bg.png) no-repeat top center;
    height: 950px;
}

.header_top {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-top: 160px;
}

.header_top h1 {
    font-family: 'Playfair Display', serif;
    padding-bottom: 80px;
    font-size: 70px;
    color: #ff92b8;
}

.header_top h1 span {
    color: #bc9cc9;
}

.header_top .top_flex {
    display: flex;
    justify-content: center;
}

.header_top .top_flex li {
    padding-right: 80px;
    color: #ff92b8;
    font-weight: 500;
    position: relative;
}

.header_top .top_flex li:last-child {
    padding-right: 0;
}

.heart_icon2 {
    position: absolute;
    top: -25px;
    left: 15px;
    display: none;
}

.heart_icon3 {
    position: absolute;
    top: -25px;
    left: 7px;

}



.new_best {
    text-align: left;
    padding-top: 277px;
    position: relative;
}

.tabs a {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 500;
}

.tabs li {
    padding-bottom: 20px;
}

.tabs li>img {
    display: none;
    padding-right: 20px;
}


.tabs li.active a {
    font-weight: 800;
    color: #bc9cc9;
}

.tab_content img {
    margin: 0 15px;
}

.new_best {
    position: relative;
}

.tab_content {
    position: absolute;
    top: 225px;
    left: 245px;
}

.tab_position {
    position: absolute;
    top: 186px;
    left: -250px;
}

.tab_position h3 {
    font-family: 'Playfair Display', serif;
    padding-top: 30px;
}

.bg_flex {
    display: flex;
}

.bg_box {
    display: block;
    width: 308px;
    height: 308px;
    border-radius: 50%;
    background-color: #ffffffc7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

.bg_box:hover {
    background: linear-gradient(-45deg, #eabcff 0%, #a8d5ff 100%);
    background-position: right center;
    transition: background-position 0.5s;
    background-size: 200% auto;
    font-weight: 700;
}

.bg_box:hover>img {
    animation: deg 0.3s;
}

.go_btn {
    padding-left: 20px;
    animation: go_ani 1s infinite;
}

@keyframes go_ani {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes deg {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

#rotate_box {
    position: relative;
    overflow: hidden;
}

.move_text {
    position: absolute;
    top: 700px;
    right: -140px;
    animation: rotation 10s linear infinite;
}


@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 배경 물방울 효과 */
#menu {
    overflow: hidden;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    opacity: 0;
}

.background.on {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0.4;
    transition: all 0.5s;
    z-index: -1;
}

.background span {
    width: 18vmin;
    height: 18vmin;
    border-radius: 18vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 38;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #ddb7e1;
    top: 1%;
    left: 88%;
    animation-duration: 89s;
    animation-delay: -33s;
    transform-origin: 5vw -12vh;
    box-shadow: 36vmin 0 5.300973547555284vmin currentColor;
}

.background span:nth-child(1) {
    color: #ffadce;
    top: 61%;
    left: 59%;
    animation-duration: 119s;
    animation-delay: -90s;
    transform-origin: 2vw 16vh;
    box-shadow: -36vmin 0 5.310995291743221vmin currentColor;
}

.background span:nth-child(2) {
    color: #fff8e0;
    top: 67%;
    left: 48%;
    animation-duration: 24s;
    animation-delay: -64s;
    transform-origin: -15vw -1vh;
    box-shadow: 36vmin 0 5.051070069591873vmin currentColor;
}

.background span:nth-child(3) {
    color: #ffadce;
    top: 77%;
    left: 32%;
    animation-duration: 51s;
    animation-delay: -38s;
    transform-origin: 17vw -18vh;
    box-shadow: -36vmin 0 5.378340731670915vmin currentColor;
}

.background span:nth-child(4) {
    color: #ffadce;
    top: 68%;
    left: 43%;
    animation-duration: 10s;
    animation-delay: -117s;
    transform-origin: -4vw 0vh;
    box-shadow: -36vmin 0 4.567056540014875vmin currentColor;
}

.background span:nth-child(5) {
    color: #c7f1ff;
    top: 70%;
    left: 20%;
    animation-duration: 18s;
    animation-delay: -92s;
    transform-origin: -22vw 12vh;
    box-shadow: 36vmin 0 4.860761632479096vmin currentColor;
}

.background span:nth-child(6) {
    color: #fff8e0;
    top: 43%;
    left: 48%;
    animation-duration: 63s;
    animation-delay: -35s;
    transform-origin: 21vw 16vh;
    box-shadow: -36vmin 0 4.50051787142956vmin currentColor;
}

.background span:nth-child(7) {
    color: #ddb7e1;
    top: 62%;
    left: 49%;
    animation-duration: 73s;
    animation-delay: -93s;
    transform-origin: 23vw -20vh;
    box-shadow: -36vmin 0 4.938557853226874vmin currentColor;
}

.background span:nth-child(8) {
    color: #c7f1ff;
    top: 61%;
    left: 32%;
    animation-duration: 109s;
    animation-delay: -21s;
    transform-origin: 11vw 1vh;
    box-shadow: -36vmin 0 4.702421069368052vmin currentColor;
}

.background span:nth-child(9) {
    color: #ffadce;
    top: 30%;
    left: 42%;
    animation-duration: 52s;
    animation-delay: -62s;
    transform-origin: -16vw -6vh;
    box-shadow: -36vmin 0 4.941346791898988vmin currentColor;
}

.background span:nth-child(10) {
    color: #ddb7e1;
    top: 43%;
    left: 18%;
    animation-duration: 6s;
    animation-delay: -82s;
    transform-origin: 20vw 13vh;
    box-shadow: 36vmin 0 4.797434219726078vmin currentColor;
}

.background span:nth-child(11) {
    color: #ddb7e1;
    top: 37%;
    left: 99%;
    animation-duration: 104s;
    animation-delay: -72s;
    transform-origin: 3vw -7vh;
    box-shadow: 36vmin 0 4.751441785619118vmin currentColor;
}

.background span:nth-child(12) {
    color: #fff8e0;
    top: 56%;
    left: 33%;
    animation-duration: 70s;
    animation-delay: -20s;
    transform-origin: 22vw -7vh;
    box-shadow: 36vmin 0 4.928857787941408vmin currentColor;
}

.background span:nth-child(13) {
    color: #fff8e0;
    top: 29%;
    left: 60%;
    animation-duration: 111s;
    animation-delay: -38s;
    transform-origin: -6vw 7vh;
    box-shadow: -36vmin 0 5.117535159304234vmin currentColor;
}

.background span:nth-child(14) {
    color: #ddb7e1;
    top: 29%;
    left: 95%;
    animation-duration: 119s;
    animation-delay: -102s;
    transform-origin: -18vw 12vh;
    box-shadow: -36vmin 0 5.144669812737465vmin currentColor;
}

.background span:nth-child(15) {
    color: #ddb7e1;
    top: 32%;
    left: 16%;
    animation-duration: 58s;
    animation-delay: -32s;
    transform-origin: 20vw 20vh;
    box-shadow: -36vmin 0 4.830579319398698vmin currentColor;
}

.background span:nth-child(16) {
    color: #c7f1ff;
    top: 64%;
    left: 70%;
    animation-duration: 109s;
    animation-delay: -53s;
    transform-origin: 16vw 3vh;
    box-shadow: 36vmin 0 5.493068664907877vmin currentColor;
}

.background span:nth-child(17) {
    color: #fff8e0;
    top: 75%;
    left: 14%;
    animation-duration: 117s;
    animation-delay: -3s;
    transform-origin: 19vw -8vh;
    box-shadow: -36vmin 0 4.57714589221866vmin currentColor;
}

.background span:nth-child(18) {
    color: #ddb7e1;
    top: 69%;
    left: 56%;
    animation-duration: 101s;
    animation-delay: -120s;
    transform-origin: 7vw 9vh;
    box-shadow: -36vmin 0 5.087689593773524vmin currentColor;
}

.background span:nth-child(19) {
    color: #c7f1ff;
    top: 86%;
    left: 5%;
    animation-duration: 59s;
    animation-delay: -6s;
    transform-origin: 19vw -23vh;
    box-shadow: 36vmin 0 5.155671768759156vmin currentColor;
}

.background span:nth-child(20) {
    color: #fff8e0;
    top: 24%;
    left: 97%;
    animation-duration: 103s;
    animation-delay: -55s;
    transform-origin: 9vw 0vh;
    box-shadow: -36vmin 0 4.570477814876389vmin currentColor;
}

.background span:nth-child(21) {
    color: #ddb7e1;
    top: 6%;
    left: 49%;
    animation-duration: 20s;
    animation-delay: -42s;
    transform-origin: -13vw -23vh;
    box-shadow: 36vmin 0 5.062364900382457vmin currentColor;
}

.background span:nth-child(22) {
    color: #fff8e0;
    top: 98%;
    left: 91%;
    animation-duration: 75s;
    animation-delay: -4s;
    transform-origin: 3vw 0vh;
    box-shadow: -36vmin 0 5.248315726058523vmin currentColor;
}

.background span:nth-child(23) {
    color: #c7f1ff;
    top: 48%;
    left: 30%;
    animation-duration: 82s;
    animation-delay: -102s;
    transform-origin: -6vw -23vh;
    box-shadow: 36vmin 0 5.227749802600141vmin currentColor;
}

.background span:nth-child(24) {
    color: #fff8e0;
    top: 9%;
    left: 68%;
    animation-duration: 45s;
    animation-delay: -81s;
    transform-origin: 20vw 4vh;
    box-shadow: -36vmin 0 5.157881958454895vmin currentColor;
}






/* menu */
#menu {
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 130px;
}

#menu h1 {
    font-family: 'Playfair Display', serif;
    padding-top: 120px;
    padding-bottom: 60px;
    color: #FF92B9;
    font-size: 50px;
}

#menu .tabs1 {
    display: flex;
    justify-content: center;
}

#menu .tabs1 li {
    padding: 5px 20px;
    border-radius: 17.5px;
    margin: 0 10px;
}

#menu .tabs1 li:hover,
#menu .tabs1 li.active1 {
    background: linear-gradient(to right, #FFF2CF 0%, #FF92B9 50%, #C5FAFF 100%);
    background-position: right center;
    transition: background-position 0.5s;
    background-size: 200% auto;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.tab_content1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu_box {
    width: 300px;
    padding-top: 50px;
    margin: 0 10px;
}


.menu_img {
    width: 300px;
    height: 300px;
    border: 1px solid #dcd1d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    position: relative;
    overflow: hidden;
}

.menu_img h4 {
    width: 300px;
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    opacity: 0;
}

.menu_box p {
    padding-top: 15px;
    padding-bottom: 8px;
}

.byuing {
    display: flex;
    justify-content: center;
    align-items: center;
}

.byuing li {
    margin: 0 10px;
}

.byuing {
    position: relative;
    cursor: pointer;
}

.byuing li:nth-child(4) {
    position: absolute;
    top: 5px;
    left: 149px;
    display: none;
}

.byuing li:nth-child(5) {
    position: absolute;
    top: 5px;
    left: 199px;
    display: none;
}

.menu_img:hover>img {
    transform: translateY(130px);
    transition: all 0.5s;
}

.menu_img:hover>h4 {
    opacity: 1;
    transition: all 0.5s;
}




/* 구매하기 버튼 스타일 */
.button3 {
    padding: 3px 20px;
    font-size: 15px;
    position: relative;
    border-radius: 26px;
    color: var(--textColor3);
    background-color: transparent;
    border: 2px solid transparent;
    background-clip: padding-box;
    overflow: hidden;
    z-index: 1;
}

.button3::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border: 1px solid #3a2f2f;
    background-position: center;
    border-radius: 26px;
    z-index: -1;
    transition: border-color 0.1s;
}

.button3::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 70vmax;
    height: 70vmax;
    border-radius: 50%;
    background-color: #bc9cc9;
    opacity: 0.8;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.1s ease-in-out;
    z-index: -1;
}

.button3--active::after {
    background-color: #f7841d;
    opacity: 1;
}

.button3:focus {
    color: #fff;

    &::before {
        border-color: #bc9cc9;
    }
}

.button3:hover,
.button3:hover:focus {
    color: #fff;

    &::after {
        transform: translate(-50%, -50%) scale(1);
    }
}

.button3:active {
    color: #c3c4d5;
}

/* 버튼 스타일 끝 */



/* footer */
#footer {
    width: 100%;
    height: 530px;
    background: url(../images/footer.png) no-repeat center center;
    text-align: center;
    color: #fff;
    font-size: 17px;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding-top: 80px;
    position: relative;
}

.f_flex1,
.f_flex2,
.f_flex3 {
    display: flex;
    justify-content: center;
}

.f_flex1 li {
    margin: 0 70px;
    margin-top: 80px;
    cursor: pointer;
}

.f_flex2 li {
    padding: 50px;
}

.f_flex3 li {
    font-size: 15px;
}

.f_flex3 li::after {
    content: "l";
    display: inline-block;
    padding: 0 20px;
}

.f_flex3 li:last-child::after {
    content: "";
    padding: 0;
}

.sub_logo2 {
    position: absolute;
    top: 77px;
    left: 50%;
    transform: translate(-50%, 0);
    display: none;
}

.f_flex2 img {
    opacity: 0.7;
    transition: all 0.5s;
    border-radius: 50%;
}

.f_flex1 li a:hover {
    color: #3a2f2f;
    transition: all 0.5s;
}

.f_flex1 li a {
    transition: all 0.5s;
}

.f_flex2 img:hover {
    opacity: 1;
    box-shadow: 0 5px 5px #ff92b8;
    transition: all 0.5s;
}


/* 커피 background-color */
.menu_img:hover.beverage1 {
    background: linear-gradient(to top, #733f12, #fece90);
    transition: all 0.5s;
}

.menu_img:hover.beverage2 {
    background: linear-gradient(to top, #fece90, #ffefdc);
    transition: all 0.5s;
}

.menu_img:hover.beverage3 {
    background: linear-gradient(to top, #5f2b18, #fcf3d3);
    transition: all 0.5s;
}

.menu_img:hover.beverage4 {
    background: linear-gradient(to top, #432226, #e8e1d8);
    transition: all 0.5s;
}

.menu_img:hover.beverage5 {
    background: linear-gradient(to top, #acc781, #e9ebe1);
    transition: all 0.5s;
}

.menu_img:hover.beverage6 {
    background: linear-gradient(to top, #886c58, #fdf3dd);
    transition: all 0.5s;
}

.menu_img:hover.beverage7 {
    background: linear-gradient(to top, #c28d3b, #f7e6b6);
    transition: all 0.5s;
}

.menu_img:hover.beverage8 {
    background: linear-gradient(to top, #73431c, #fde3b2);
    transition: all 0.5s;
}


/* 커피 background-color 끝*/


/* 스무디 background-color */
.menu_img:hover.smoothie1 {
    background: linear-gradient(to top, #ff7d59, #ffd3c8);
    transition: all 0.5s;
}

.menu_img:hover.smoothie2 {
    background: linear-gradient(to top, #e0655f, #ffdfdf);
    transition: all 0.5s;
}

.menu_img:hover.smoothie3 {
    background: linear-gradient(to top, #ffa8b5, #ffece0);
    transition: all 0.5s;
}

.menu_img:hover.smoothie4 {
    background: linear-gradient(to top, #4f261c, #ffc1bd);
    transition: all 0.5s;
}

.menu_img:hover.smoothie5 {
    background: linear-gradient(to top, #ff1701, #ffdcde);
    transition: all 0.5s;
}

.menu_img:hover.smoothie6 {
    background: linear-gradient(to top, #db0d16, #ffffff);
    transition: all 0.5s;
}

.menu_img:hover.smoothie7 {
    background: linear-gradient(to top, #ffc43b, #fdf9ea);
    transition: all 0.5s;
}

.menu_img:hover.smoothie8 {
    background: linear-gradient(to top, #ffcd36, #dee4a5);
    transition: all 0.5s;
}

.menu_img:hover.smoothie9 {
    background: linear-gradient(to top, #af0000, #fcecf0);
    transition: all 0.5s;
}

.menu_img:hover.smoothie10 {
    background: linear-gradient(to top, #fbd138, #fff9c5);
    transition: all 0.5s;
}

.menu_img:hover.smoothie11 {
    background: linear-gradient(to top, #a9acff, #ffebfc);
    transition: all 0.5s;
}

.menu_img:hover.smoothie12 {
    background: linear-gradient(to top, #c3b90a, #e3ff88);
    transition: all 0.5s;
}

.menu_img:hover.smoothie13 {
    background: linear-gradient(to top, #6b4224, #ffde8e);
    transition: all 0.5s;
}

.menu_img:hover.smoothie14 {
    background: linear-gradient(to top, #90360c, #ffd78b);
    transition: all 0.5s;
}

.menu_img:hover.smoothie15 {
    background: linear-gradient(to top, #a98048, #fff8dc);
    transition: all 0.5s;
}

.menu_img:hover.smoothie16 {
    background: linear-gradient(to top, #1a0201, #ffe5b5);
    transition: all 0.5s;
}

.menu_img:hover.smoothie17 {
    background: linear-gradient(to top, #30211b, #c7b3b1);
    transition: all 0.5s;
}

.menu_img:hover.smoothie18 {
    background: linear-gradient(to top, #47292f, #ffdfcf);
    transition: all 0.5s;
}

.menu_img:hover.smoothie19 {
    background: linear-gradient(to top, #94602d, #fcf3d4);
    transition: all 0.5s;
}

.menu_img:hover.smoothie20 {
    background: linear-gradient(to top, #e17a01, #fff1ca);
    transition: all 0.5s;
}

.menu_img:hover.smoothie21 {
    background: linear-gradient(to top, #9abc01, #e3ffc2);
    transition: all 0.5s;
}

.menu_img:hover.smoothie22 {
    background: linear-gradient(to top, #92a126, #ecfb9c);
    transition: all 0.5s;
}

.menu_img:hover.smoothie23 {
    background: linear-gradient(to top, #a6e386, #f0f4e6);
    transition: all 0.5s;
}

.menu_img:hover.smoothie24 {
    background: linear-gradient(to top, #02c4cb, #ffefd1);
    transition: all 0.5s;
}

/* 스무디 background-color 끝*/

/* 과일주스 background-color */
.menu_img:hover.juice1 {
    background: linear-gradient(to top, #f42831, #ffe4e9);
    transition: all 0.5s;
}

.menu_img:hover.juice2 {
    background: linear-gradient(to top, #ff7e86, #fff6f7);
    transition: all 0.5s;
}

.menu_img:hover.juice3 {
    background: linear-gradient(to top, #b70310, #ffc7bd);
    transition: all 0.5s;
}

.menu_img:hover.juice4 {
    background: linear-gradient(to top, #ff4800, #fecd52);
    transition: all 0.5s;
}

.menu_img:hover.juice5 {
    background: linear-gradient(to top, #ff4241, #ffe1da);
    transition: all 0.5s;
}

.menu_img:hover.juice6 {
    background: linear-gradient(to top, #ff9e76, #fff5df);
    transition: all 0.5s;
}

.menu_img:hover.juice7 {
    background: linear-gradient(to top, #feb100, #fff4c8);
    transition: all 0.5s;
}

.menu_img:hover.juice8 {
    background: linear-gradient(to top, #dd9504, #e9f2bc);
    transition: all 0.5s;
}

.menu_img:hover.juice9 {
    background: linear-gradient(to top, #ff6b1c, #f6d59e);
    transition: all 0.5s;
}

.menu_img:hover.juice10 {
    background: linear-gradient(to top, #a8a247, #ffc69e);
    transition: all 0.5s;
}

.menu_img:hover.juice11 {
    background: linear-gradient(to top, #ffd800, #fff8cc);
    transition: all 0.5s;
}

.menu_img:hover.juice12 {
    background: linear-gradient(to top, #cbcb25, #fffbce);
    transition: all 0.5s;
}

.menu_img:hover.juice13 {
    background: linear-gradient(to top, #ffed8a, #dde6c3);
    transition: all 0.5s;
}

.menu_img:hover.juice14 {
    background: linear-gradient(to top, #ffeea4, #fdf9f3);
    transition: all 0.5s;
}

.menu_img:hover.juice15 {
    background: linear-gradient(to top, #fcd066, #fff7e0);
    transition: all 0.5s;
}

.menu_img:hover.juice16 {
    background: linear-gradient(to top, #ff2518, #ccebab);
    transition: all 0.5s;
}


/* 과일주스 background-color 끝*/

/* 기타(글라스) background-color */
.menu_img:hover.glass1 {
    background: linear-gradient(to top, #ff9f07, #fff89c);
    transition: all 0.5s;
}

.menu_img:hover.glass2 {
    background: linear-gradient(to top, #f4bb00, #fffbe5);
    transition: all 0.5s;
}

.menu_img:hover.glass3 {
    background: linear-gradient(to top, #ff8901, #fffbec);
    transition: all 0.5s;
}

.menu_img:hover.glass4 {
    background: linear-gradient(to top, #ff651a, #fff0b0);
    transition: all 0.5s;
}

.menu_img:hover.glass5 {
    background: linear-gradient(to top, #bcd57d, #ffb3a9);
    transition: all 0.5s;
}

.menu_img:hover.glass6 {
    background: linear-gradient(to top, #de7e39, #fffcf6);
    transition: all 0.5s;
}

.menu_img:hover.glass7 {
    background: linear-gradient(to top, #ff9382, #fbb67b);
    transition: all 0.5s;
}

.menu_img:hover.glass8 {
    background: linear-gradient(to top, #72493b, #ffaaa4);
    transition: all 0.5s;
}

.menu_img:hover.glass9 {
    background: linear-gradient(to top, #493a2e, #ecc880);
    transition: all 0.5s;
}

.menu_img:hover.glass10 {
    background: linear-gradient(to top, #d32d2e, #fff0dd);
    transition: all 0.5s;
}

.menu_img:hover.glass11 {
    background: linear-gradient(to top, #823d0a, #ff6858);
    transition: all 0.5s;
}

.menu_img:hover.glass12 {
    background: linear-gradient(to top, #ed1e04, #ffeac3);
    transition: all 0.5s;
}

.menu_img:hover.glass13 {
    background: linear-gradient(to top, #fbd29b, #fe9ba4);
    transition: all 0.5s;
}

.menu_img:hover.glass14 {
    background: linear-gradient(to top, #eee354, #fdeac7);
    transition: all 0.5s;
}

.menu_img:hover.glass15 {
    background: linear-gradient(to top, #bedfe8, #ff89b3);
    transition: all 0.5s;
}

.menu_img:hover.glass16 {
    background: linear-gradient(to top, #5a2702, #ffe5b5);
    transition: all 0.5s;
}

/* 기타(글라스) background-color 끝*/
.top_btn_ {
    position: fixed;
    bottom: 55px;
    right: 50px;
    display: none;
}